@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,600;1,400&display=swap');

*,
 *::after,
 *::before{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 outline: none;
}


body{
 font-family: 'Noto Sans', sans-serif;
 background-color: #fff;
 height: 100vh;
 width: fit-content;
}

/* global css*/
img{
 width: 100%;
 height: auto;
}

a{
 text-decoration: none;
 color: #fff;
}

li{
 list-style: none;
}
.header{
 background-color: #1F2937;
 color: #fff;
 display: flex;
 flex-direction: column;
 padding-top: 10px;
 padding-right: 0px;
 
}
.navbar{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding-left: 60px;
}
.nav-list{
 display: flex;
 justify-content: center;
 align-items: flex-end;
 gap: 10px;
 padding-right: 10px;
}
.hero{
 display: flex;
 justify-content: space-evenly;
 align-items: space-around;
 padding-top: 10px;
 flex-wrap: wrap;
 
}
.hero-left{
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
 width: 50%;
 padding-right: 5px;
}
.hero-right{
 
}
p{
 padding-top: 10px;
 padding-bottom: 10px;
 font-size: small;
 font-weight: 100;
 
}
a.btn{
 background-color:#3882F6;
 width: 75px;
 padding: 5px;
 border-radius: 5px;
}
.container-two{
 background-color: #fff;
 
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
 align-items: center;
 color: black;
 
}
.image-container{
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: space-evenly;
 gap: 20px;
 padding: 20px;
}
.heading{
 display: flex;
 justify-content: center;
 align-items: center;
}